

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    position: relative;
  }
  
  .button-container {
    background-color: blue;
    display: contents;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
